/* ====================================
Variable
---------------------------------------
Sections:
- Breakpoints
- Typography
- Styles
- Colors
==================================== */
/* Breakpoints 
|----|----|----|---->
0   576  768  991
breakpoints using bootstrap standards
*/

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 993px,
);

/* Section 2: Typography 
https://typescale.com/ <-- use this handy link to set font styles!
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+3:wght@400;600&display=swap");

// Small
$base-font-size: 16px;
$secondary-font-size: 12px;

// Medium
$base-font-size-med: 18px;
$secondary-font-size-med: 14px;

// Large
$base-font-size-lg: 20px;
$secondary-font-size-lg: 16px;

$base-line-height: 1.4;
$type-scale: 1.25; // major third
$type-base-size: 1rem;
$base-font-family: "Montserrat", sans-serif;
$secondary-font-family: "Source Sans 3", sans-serif;
$font-weight: (
  "regular": 400,
  "semiBold": 600,
  "bold": 700,
);

/* Section 3: Styles */

// transitions
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;
// z-index
$bottom: 0;
$mid: 500;
$top: 1000;

/* Section 4: Colors */

//Theme
$theme: (
  "primary": #ffe81d,
  "primary-v": #ffb800,
  "secondary": #ff84a9,
  "secondary-v": #cc7db6,
  "tertiary": #41ffdd,
  "tertiary-v": #5eb1df,
);

//Shades
$opacity: (
  "high": 0.8,
  "medium": 0.6,
  "low": 0.4,
);

//Common
$light-bg: #fbfbfb;
$dark-bg: #00132a;

:export {
  light_bg: $light-bg;
  dark_bg: $dark-bg;
}
