@use "../abstract/index" as *;
.chip {
  padding: 0.1rem 0.7rem;
  p {
    @include base-font-size;
    font-weight: map-get($map: $font-weight, $key: "semiBold");
    font-family: $secondary-font-family;
    text-align: center;
  }
}

.chip-border-wrap {
  background: linear-gradient(
    to right,
    map-get($map: $theme, $key: "secondary-v"),
    map-get($map: $theme, $key: "tertiary-v")
  );
  border-radius: 50px;
  padding: 2px;
  display: inline-block;
}

.chip-border-wrap.big {
  background: linear-gradient(
    to bottom,
    map-get($map: $theme, $key: "primary"),
    map-get($map: $theme, $key: "secondary")
  );
  border-radius: 50px;
  padding: 3px;
  display: inline-block;
  .chip {
    p {
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
}
