@use "../abstract/variable" as *;
.header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: map-get($map: $font-weight, $key: "bold");

  .line {
    width: 6rem;
    height: 0.5rem;
    background: linear-gradient(
      to right,
      map-get($map: $theme, $key: "secondary"),
      map-get($map: $theme, $key: "primary")
    );
  }
}
