@use "../abstract/index" as *;
.section-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    @include secondary-font-size;
    font-family: $secondary-font-family;
    &.selected {
      color: map-get($map: $theme, $key: "secondary-v");
    }
  }

  @include with-min-width("medium") {
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  backdrop-filter: blur(5px);
  &.dark {
    background-color: rgba($color: #000, $alpha: 0.7);
  }
  &.light {
    background-color: rgba($color: #fff, $alpha: 0.7);
  }

  .hide {
    display: none;
  }

  @include with-min-width("medium") {
    display: none;
  }
}
