.mobile-top {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 1.5rem 1rem 1.5rem;

  justify-content: space-between;
  .icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
}
