.mobile-top {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  justify-content: space-between;

  .icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
}
