@use "../abstract/index" as *;
.button-pos-handler {
  width: 100%;
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
  &.start {
    align-items: start;
  }
  &.end {
    align-items: end;
  }
}
.rect-button {
  display: inline-block;
  align-items: center;
  background-color: aliceblue;

  padding: 0;
  display: inline-block;
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
  &.disable {
    opacity: map-get($map: $opacity, $key: "low");
    &:hover {
      cursor: default;
    }
  }
  p {
    padding: 0.75rem 1.75rem;
    font-family: $secondary-font-family;
    font-size: 1.25rem;
    font-weight: map-get($map: $font-weight, $key: "semiBold");
  }
}

.rect-button-wrapper {
  background: linear-gradient(
    to right,
    map-get($map: $theme, $key: "primary-v"),
    map-get($map: $theme, $key: "secondary-v")
  );
  border-radius: 7px;
  padding: 3px;
}
