/* ====================================
Typography - sets default typography
---------------------------------------
Sections:
- Base
- Text Boxes
- Headings
- Table Content
==================================== */

@use "../abstract/index" as *;
html {
  @include base-font-size;
}

body {
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: map-get($font-weight, "regular");
  font-size: $type-base-size;
}

/* Text Boxes */
a,
p {
  color: rgba(black, map-get($opacity, "high"));
}

/**
 * Headings
 * - only use h1 - h4
 */

$type-levels: 4, 3, 2, 1;
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-scale;
  h#{$level} {
    font-size: $level-size;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    color: black;
  }
}
